
@{
    ViewBag.Title = "UserRegist";
}

<h2>UserRegist</h2>
<body>
    
    <div>
        <form action="/UserLogin/ProcessRegist">
            <table>
                <tr>
                    <td>用户名：</td><td><input type="text" name="txtName" /></td>                   
                </tr>
                <tr>
                    <td>密码：</td><td><input type="password" name="txtPassword"></td>
                </tr>
                <tr>
                    <td><button name="btnSubmit">提交</button></td>                   
                </tr>
            </table>
        </form>
    </div>
</body>
